@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1 class="mb-4">Portfolio</h1>
    <p>Here are some of my highlighted projects:</p>

    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Project One</h5>
                    <p class="card-text">Description of project one.</p>
                    <a href="#" class="btn btn-outline-primary">View Project</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Project Two</h5>
                    <p class="card-text">Description of project two.</p>
                    <a href="#" class="btn btn-outline-primary">View Project</a>
                </div>
            </div>
        </div>
    </div>
</div>
