<div class="flex space-x-3">
    <a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en" class="hover:underline">EN</a>
    <a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="ar" class="hover:underline">AR</a>
    <a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="fr" class="hover:underline">FR</a>
</div>
