<nav class="bg-gray-800 text-white p-4 flex gap-4">
    <a href="/" class="hover:underline">Home</a>
    <a href="/Projects" class="hover:underline">Projects</a>
    <a href="/Blog" class="hover:underline">Blog</a>
    <a href="/Contact" class="hover:underline">Contact</a>
</nav>
